{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="border bg-white p-3">
                <h4>Agregar Aprendiz</h4>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block"
                        type="submit" Value="Agregar Aprendiz">
                </form>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group pull-right col-md-4">
                <input type="text" class="search form-control"
                    placeholder="Que estas buscando?">
                <span class="counter pull-right col-md-4 ubiq"></span>
            </div>
            

                <table class="table bg-white table-bordered results" id="tabla">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Opciones</th
                        </tr>
                    </thead>
                    <tbody>
                        {% for aprendiz in aprendices %}
                        <tr>
                            <td>{{aprendiz.nombre}} </td>
                            <td>{{aprendiz.apellido}} </td>
                            <td>{{aprendiz.documento}} </td>
                            <td>{{aprendiz.sexo}} </td>
                            <td>{{aprendiz.equipo}} </td>
                            <td>
                                <a class="btn btn-primary btn-sm"
                                 href="{% url 'personal-aprendiz-update' aprendiz.id %}">Editar</a></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
          
        </div>
    </div>
</div>

{% endblock contenido %}