{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Agregar Tapa</h4>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block"
                        type="submit" Value="Agregar Tapa">
                </form>
            </div>
        </div>

        <div class="col-md-8">
                      
                <table class="table bg-white table-bordered results" id="tabla">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Aprendiz</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tapa in tapas %}
                        <tr>

                            <td>{{tapa.aprendiz}}</td>
                            <td>{{tapa.aprendiz.equipo}}</td>
                            <td>{{tapa.fecha}}</td>
                            <td>{{tapa.cantidad}}</td>
                            <td>
                                <a class="btn btn-primary btn-sm"
                                 href="{% url 'contabilidad-tapa-update' tapa.id %}">Editar</a>
                                 <a class="btn btn-danger btn-sm"
                                 href="{% url 'contabilidad-tapa-delete' tapa.id %}">Eliminar</a>
                              
                            </td>
                            </td>
                        </tr>
                        {% endfor%}
                       
                    </tbody>
                </table>
        
        </div>
    </div>
</div>
{% endblock contenido %}