{% extends 'partials/body.html' %} {% block contenido %} {% load crispy_forms_tags %}
<div class="container ">
    <div class="row">
        <div class="col">
            <h2>Descargar</h2>


            <form action="{% url 'backup' tipo='D' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="modelos_lista" value="Todo" id="">
                        <label class="form-check-label" for="modelos_lista">Todo</label>
                    </div>
                    {% for modelo in modelos %}
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="modelos_lista" value="{{modelo.verbose_name}}" id="">
                        <label class="form-check-label" for="modelos_lista">{{modelo.verbose_name}}</label>
                    </div>
                    {% endfor %}
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>

        <div class="col">
            <h2>Restaurar</h2>
            <form action="{% url 'backup' tipo='U' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="archivo" class="form-label">Copias a restaurar</label>
                    <input class="form-control" type="file" id="archivo">
                    <!-- <input class="form-control" type="file" id="formFileMultiple" multiple> -->

                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div class="col">
            <h2>Listado de Archivos</h2>
            <table class="table" id="tabla">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Nombre</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Fecha</th>

                    </tr>
                </thead>
                <tbody>
                    {% for backup in backups %}
                    <tr>
                        <td>{{backup.nombre}} </td>
                        <td>{{backup.archivo.url}} </td>
                        <td>{{backup.fecha}} </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}