{% extends 'partials/body.html' %}
{% load static %}
{% include 'charts/chart-area.html' %}
{% block contenido %}

<div class="row">

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i> Entregas por fecha
            </div>
            <div class="card-body"><canvas id="entrega-fecha" width="100%" height="40"></canvas></div>
        </div>
    </div>



    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-chart-pie"></i> Tapas por grupo
            </div>
            <div class="card-body"><canvas id="tapas-grupos" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-chart-column"></i> Entrega Mensual
            </div>
            <div class="card-body"><canvas id="entrega-mensual" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Total de tapas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <h3>{{total_tapas}}</h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
   
 
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Record Actual</div>
            <div class="card-footer d-flex align-items-center justify-content-between">

                <h3>{{maximo.aprendiz.nombre}} con {{maximo.cantidad}} Tapas </h3>

                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    
   
        
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Warning Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h3>{{minimo.aprendiz.nombre}} con {{minimo.cantidad}} Tapas</h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 ">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Danger Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <h3>{{minimo.aprendiz.nombre}} con {{minimo.cantidad}} Tapas</h3>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Aportes totales de los Aprendices
    </div>
    <div class="card-body">
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>Aprendiz</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Aprendiz</th>
                    <th>Cantidad</th>
                </tr>
            </tfoot>
            <tbody>
                {% for tapa in tapas_stats %}
                <tr>
                    <td>{{tapa.aprendiz}}</td>
                    <td>{{tapa.total_tapas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

<!-- Datos chart area-->
<div class="d-none" id="tags-area">{% for tag in fecha_stats %}{{tag.fecha}},{% endfor %}</div>
<div class="d-none" id="data-area">{% for tag in fecha_stats %}{{tag.total_tapas}},{% endfor %}</div>

<!-- Datos chart pie-->
<div class="d-none" id="tags-pie">{% for key in tapas_grupos %}{{key}},{% endfor %}</div>
<div class="d-none" id="data-pie">{{tapas_grupos.values}}</div>

{% endblock contenido %}