{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    
    {% comment %} CSS Datatables {% endcomment %}
      <link rel="stylesheet" type="text/css" href="{% static 'js/datatable/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'js/datatable/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'js/datatable/Buttons-2.2.3/css/buttons.bootstrap5.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'js/datatable/SearchBuilder-1.3.3/css/searchBuilder.bootstrap5.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'js/datatable/Responsive-2.3.0/css/responsive.bootstrap5.min.css' %}">


    <link rel="stylesheet" type="text/css" href="{% static 'css/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}">
   
   
    

    <title> Tapaton - {{titulo_pagina}} </title>
  </head>
<body>
    {% include "partials/header.html" %}
    <h1>{{titulo_pagina}}</h1>
    {% block contenido %}
    
    {% endblock contenido %}
   
    {% if messages %}
    {% for message in messages %}
    <script type="text/javascript">toastr.{{ message.tags }}("{{ message }}");</script>
    {% endfor %}
    {% endif %}
    {% include "partials/footer.html" %}
    {% comment %} para los datatables {% endcomment %}
    <script type="text/javascript" src="{% static 'js/datatable/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/DataTables-1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Buttons-2.2.3/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Buttons-2.2.3/js/buttons.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Buttons-2.2.3/js/buttons.colVis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Buttons-2.2.3/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Buttons-2.2.3/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Responsive-2.3.0/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/Responsive-2.3.0/js/responsive.bootstrap5.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/SearchBuilder-1.3.3/js/dataTables.searchBuilder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/SearchBuilder-1.3.3/js/searchBuilder.bootstrap5.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/tabla.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/carousel-code.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/tabla.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/select2/select2.js' %}"></script>
    
    <script type="application/json" src="{% static 'js/toastr.js.map' %}"></script> 

    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/open-accessibility/open-accessibility.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/open-accessibility/locale.min.js' %}"></script>

 

    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>