<!-- Modal -->

{% load crispy_forms_tags %}
<div class="modal fade show" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar {{titulo_pagina}}</h5>
                <a class="btn-close"
                data-bs-dismiss="modal" href="{{url_back}}" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
            </div>
            <div class="modal-footer">
                
                <a class="btn btn-secondary"
                    data-bs-dismiss="modal" href="{{url_back}}">Cancelar</a>
                <input type="submit" class="btn btn-success" value="Editar"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>