<!-- Modal -->
{% load crispy_forms_tags %}

<div class="modal fade"
     id="mainModal"
     tabindex="-1"
     aria-labelledby="mainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mainModalLabel">{{ modal_title.title }}</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                <p>¿Esta seguro de {{ modal_txt }}?</p>
                {{form_update|crispy}}
            </div>
            <div class="modal-footer">
               
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="{{tipo}}">
                    <input type="hidden" name="modal-pk" value="{{pk}}">
                    
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button name="modal-confirmar" class="btn btn-success" >{{ modal_submit }}</button>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
